@media (min-width: 768px) {
    .mobileMenu-container {display: none;}
    .displayDesktopMenu {
        width: 100vw;
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
    }

    .nav-logo {
        padding-right: 1rem;
    }

    .darkMode-button {

    }
    .presentation-container {
        flex-direction: row;
        justify-content: space-around;
    }

.presentation-container .gabrielName {

    display: flex;
    font-weight: bolder;
    margin: auto;
    width: 409.89px;
    margin: 0;

    animation: typing 2s steps(22);

    white-space: nowrap;
    overflow: hidden;

    background-image: linear-gradient(to right, #00C0FD, #E70FAA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
@keyframes typing {
    from {
        width: 0
    }
}

    .presentation-container {
        height: 90vh;
    }

    .presentation-container h1 {
        padding-top: 0;
        font-size: 2.5rem;
    }

    .presentation-container .image-container {
        padding-bottom: 0;
    }

    .presentation-container .image-container img {
        width: 350px;
    }

    .skills-container {
        height: 100vh;
        justify-content: space-evenly;
        padding: 4rem 3rem;
    }

    .projects-container {
        align-items: center;
        padding: 5rem 3rem;
        gap: 1.5rem;
    }

    .projects-container .cards-container {
        justify-content: space-evenly;
    }

    .projects-container .card {
        max-width: 300px;
    }

    .card .projects-infos {
        padding: 1rem 1.5rem;
    }

    .footer {
        display: flex;
    }
}

@media (min-width: 1352px) {
    .displayDesktopMenu {
        max-width: 1366px;
        padding-right: 1rem;
    }
}

@media (max-width: 425px) {

    .skills-container .tech-container {
        margin: 0;
        width: 100%;
    }

    .projects-container {
        padding-top: 4rem;
    }

}