@font-face {
    font-family: 'valorant';
    src: url('../fonts/valorantFont.ttf') format('trueType');
}

::-webkit-scrollbar {
    width: 0;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}


/* Mobile */

.displayMobileMenu {
    display: none;
}

#closeMenu {display:none}

.mobileMenu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #cfc5c5ab;
    background: #ffffffbd;
    position: fixed;
}

.mobileMenu-container span {
    padding: 0.7rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.mobileMenuLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    background-image: linear-gradient(to right,#00C0FD,#E70FAA);
}

.mobileLink {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    border-bottom: 1px solid #fff;
}

.mobileSocialMediaMenuLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;

    background-image: linear-gradient(to right,#00C0FD,#E70FAA);

}

.mobileSocialMediaMenuLinks img {
    max-width: 40px;
    border-radius: 50%;
    filter: invert(1);
}

.mobileSocialMediaLink {
    transition: all 0.3s ease-in-out;
}

.mobileMenu-container span:hover {
    background-image: linear-gradient(to right,#00C0FD,#E70FAA);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.mobileLink:hover {
    color: #000;
    background-color: #ffffff;
    transition: all 0.3s ease-in;
}

.mobileSocialMediaLink:hover {
    transform: scale(1.1);
    filter: invert(1);
}

.presentation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;


    padding: 0 3rem;
}

.presentation-container .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.presentation-container .image-container img {
    display: flex;
    max-width: 280px;
    width: 80%;
    border-radius: 50%;
    border: 4px solid transparent;

    background-image: linear-gradient(to top, #00C0FD, #E70FAA);
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: transparent;
}

.presentation-container h1 {
    font-size: 2rem;
    color: #42446E;
}

.presentation-container .gabrielName {
    background-image: linear-gradient(to right, #00C0FD, #E70FAA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    gap: 1.5rem;


    padding: 0 3rem;
}

.skills-container h2 {
    text-align: center;
    font-size: 1.7rem;
    color: #42446E;
}

.skills-container p {
    color: #9c9898;
    font-size: 1.2rem;
    text-align: center;
}

.skills-container .tech-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 4rem;
    padding: 2rem 0;

}

.skills-container .tech-container img {
    width: 45px;
    cursor: pointer;
}


.tech-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 60px;
    height: 60px;

}

.tech-container div:hover p{
    opacity: 1;
}


.tech-container p {
    font-weight: 700;
    font-size: 1rem;
    color: #000000;
    display: block;
    opacity: 0;

    transition: all 0.3s ease-in-out;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 3rem;
}

.projects-container h2{
    text-align: center;
    font-size: 1.7rem;
    color: #42446E;
}

.projects-container p {
    color: #9c9898;
    font-size: 1.2rem;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;

    background-color: #fa80720e;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 15px #00000073;
}


.card .projects-infos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.card .projects-infos h3 {
    text-align: center;
    font-size: 1.4rem;
}

.card .projects-infos p{
    text-align: center;
    font-size: 0.8rem;
}

.projects-infos .project-links {
    display: flex;
    justify-content: space-between;
}

.project-links .link1 {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.project-links .link2 {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.projects-infos .project-links a:hover {
    text-decoration: underline;
}

.projects-infos .link2 img {
    width: 20px;
}
/* Desktop, Laptop, Tablet */

.displayDesktopMenu {
    display: none;
}

.navLinks-container {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    font-family: 'valorant', 'Poppins', sans-serif;
    font-size: 1.3rem;

    background-image: linear-gradient(to right, #00C0FD, #E70FAA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-logo:hover {
    transform: scale(1.03);
}

.nav-links {
    display: flex;
    gap: 3rem;
}

.nav-links a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #000;
}

.nav-links a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #00C0FD, #E70FAA);
    transition: all 0.3s ease;
}

.nav-links a:hover::after {
    width: 80%;
}


